.pro{
    font-weight: bold;
    color:brown;
}
.navbar-brand:hover{
    cursor: pointer;
}
.carousel-item{
    max-height: 700px;
    overflow: hidden;
    
}

.cards{
    width: 250px;
    padding: 0%;
    margin: 1px;
    border-radius: 10px;
    cursor: pointer;
    /* transition-property: all 0.3 ease-in-out; */
    transition: all .10s ease-in-out;
    box-sizing: border-box;
}
.cards :hover{
    transform: scale(1.1);
}

.cards img {
    width: 100%;
    height: 96%;
}
.card-info{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    height: 30px;
    cursor: pointer;


}
.movie-title{
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;

}
.movie-rating{
    color: brown;
    font-weight: bold;
    cursor: pointer;
}
.Loadbtn{
    background: rgb(39, 33, 33);
    width: 20%;
    min-width: 150px;
    height: 50px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 40px;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    max-width: 1280px;
    display: block;
    margin: 30px auto;
    padding: 0 10px;
    outline: none;
    border: none;
    outline: none;

}

.Loadbtn:hover  {
    opacity: 0.8;
    outline: none;
}

.Loadbtn:focus {
    outline: none;

}
.loadingScreen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    background-color:rgba(0, 0, 0, 0.5) ;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;

    @media screen and (max-width: 768px) {
        min-height: 600px;
        height: auto;
      }
    
      @keyframes animateMovieinfo {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
}
.navigation-Container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background: #353535;
    color: #fff;
  
}
.navigation-content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}
.navigation-content p {
    font-family: 'Abel', sans-serif;
    font-size: 22px;
    float: left;
    color: #fff;
    padding-right: 10px;
    text-decoration: none;

  }
  
  @media screen and (max-width: 768px) {
    .navigation-content p{

        font-size: 16px;
    }
  }
  .Movieinfo-outer{
      background-size: cover !important;
      background-position: center !important;
      width: 100%;
      padding: 40px 20px;
      box-sizing: border-box;
      animation: animateMovieinfo 1s;
    
  }
  .movieinfo-content {
    max-width: 1280px;
    min-height: 450px;
    margin: 0 auto;
    background: rgb(0, 0, 0, 0.7);
    border-radius: 20px;
    position: relative;
  }

  .movieinfo-thumb {
    width: 300px;
    float: left;

    @media screen and (max-width: 768px) {
      width: 100% !important;
    }
  }
  .movieinfo-text {
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
    color: #fff;
    overflow: hidden;
  }
  .movieinfo-text h1{
    font-family: 'Abel', sans-serif;
    font-size: 48px;
    margin: 0;

    @media screen and (max-width: 1000px) {
      font-size: 32px !important;
    }
  }
  .movieinfo-text h3 {
    font-size: 16px;
    line-height: 0;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .movieinfo-text p {
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    line-height: 26px;
}

.rating-director {
  display: flex;
  justify-content: flex-start;
}
.score {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background: #fff;
    color: #000;
    font-weight: 800;
    border-radius: 25px;
    margin: 0px 0 0 0;
  }
  .director {
    margin: 0 0 0 40px;
  }
  .director p {
    margin: 0 ;
  }

  .movieinfobar-outer{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100px;
    height: auto;
    /* background: #1c1c1c; */
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
  
   
  }
  @media screen and (max-width: 425px) {
    .movieinfobar-outer{

        font-size: 14px;
    }
  }
  @media screen and (max-width: 768px) {
    .fa-time,
    .fa-revenue,
    .fa-budget {
      display: none;
    }
  }
.movieinfobar-content {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    color: #fff;
  }
  .movieinfobar-content-col {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    padding: 10px 20px 0 0;
  }

  .movieinfobar-info {
    padding: 5px 0 0 10px;
    float: left;
  }

  .fa-time,
  .fa-revenue {
    float: left;
    margin-top: -4px;
  }

  .fa-budget {
    float: left;
    margin-top: -3px;
  }
  .MovieThumb-outer img{
    width: 100%;
    /* min-height: 340px; */
    transition: all 0.3s;
    object-fit: cover;
    border-radius: 20px;
    animation: animateMovieThumb 0.5s;

  }
  .MovieThumb-outer img:hover{
    opacity: 0.8;
    cursor: pointer;
  }
  @keyframes animateMovieThumb {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .actor-header{
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: -33px;
    margin-top: 30px;
  }
  .actors{
    font-family: 'Abel', sans-serif;
  color: #fff;
  background: #1c1c1c;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
  width: 180px;
  }
  .actors img {
      display: block;
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 15px;
  }
  .actor-name {
    display: block;
    font-size: 18px;
    margin: 10px 0 0 0;
  }
  .actor-character {
    display: block;
    font-size: 16px;
    margin: 0 0 10px 0;
  }